body {
    background-image: url("../images/bg.jpg");
    background-size: 100%;
}

table {
    width: 100%;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;

}

thead {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin: 3px 0px 8px 0px;
    display: inline-block;
}

textarea {
    outline: none;
    border: 1px solid #999; /* указание этого свойства также удалит обводку в FireFox */
    resize: none;
}

.numberCell {
    width: 250px;
    text-align: center;
    background-color: rgba(6, 6, 13, 0.44);
}

.dataCell {
    width: 150px;
    text-align: center;
    background-color: rgba(6, 6, 13, 0.44);
}

#inputs {
    width: 30%;
    height: 70%;
}

#errors {
    width: 30%;
    height: 70%;
}

#numberinputs {
    width: inherit;
    height: inherit;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

#errorData {
    width: inherit;
    height: inherit;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;

}

#data {
    width: 38%;
}

#resultTable {
    width: 100%;
}

#redaktor {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba(45, 65, 76, 0.29);
    display: none;
}

#redaktor > div {
    position: relative;
    top: 40%;
    left: 40%;
    width: 20%;
    display: block;
}

#redInput {
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: rgba(159, 172, 215, 0.55);
}

.navigation {
    display: inline-block;
    background-color: #e7d5d5;
    height: 28px;

}


.navTabs {
    display: inline-block;
    border: double #c2c3ce;
    height: inherit;
    margin: 0px 2px;
    padding: 2px;
    cursor: hand;
}

.numberRow td {
    margin: 2px 50px 3px 5px;
    padding: 0px 5px;
    border-style: ridge;
    background-color: rgba(22, 22, 49, 0.27);
}

.disabledTab {
    display: inline-block;
    border: double #ebccd1;
    height: inherit;
    cursor: text;
}

.del {
    cursor: hand;
}

.edit {
    cursor: hand;
}


